.footer-nav {
  margin: auto;
  width: 50%;
  color: rgb(255, 212, 76);
  text-shadow: .05rem .05rem black;

  & ul {

    text-align: center;
  }
& li {
  list-style: none;
  display: inline;
  margin-right: 1rem;


}
  & a {
    color: rgb(255, 212, 76);
    text-shadow: .05rem .05rem black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
