.footer {
  background: url(../../assets/images/background12.jpg) no-repeat;
  background-size: 100%;
  border-top: 1px solid grey;
  color: rgb(255, 212, 76);
  text-shadow: .05rem .05rem black;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 2rem;

  & a {
    color: rgb(255, 212, 76)
  }

  &-divider {
    width: 60%;
    border-bottom: 3px solid rgb(18, 5, 81);
    margin: 1rem auto 0 auto;
  }
}
