.main {
  padding-top: 5rem;
  color: rgb(18, 5, 81);
  font-size: 1.5rem;
  padding-bottom: 1.5rem;

  & h2 {
    text-align: center;
  }

  &-wrapper {
    width: 60%;
    margin: auto;

    & p {
    text-align: center;
    line-height: 1.5;
    text-shadow: .02rem .02rem grey;
  }



  }

  &-column-wrapper {
  width: 30%;
  position: relative;

  }


&-heart-img {
  width: 100%;
  height: 60%;
}
&-divider {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-bottom: 3px solid rgb(18, 5, 81);
}
&-staff {
  font-size: 1.8rem;
  background: url(../../assets/images/headerbanner.png);  /* background-color: rgb(37, 23, 109);*/
  background-size: cover;
  color: rgb(255, 212, 76);
  text-shadow: .05rem .05rem grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  height: 35rem;
  & h2 {
    margin-top: 1.5rem;
    text-align: center;
    font-family: 'Playfair Display SC', serif;

  }
  &-wrapper {
    margin-left: 15%;
    margin-right: 15%;
  }
  &-img {
    float: left;
    margin-right: 20px;
    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }
  &-bio {
      color: white;
    text-shadow: .05rem .05rem black;
    font-size: 1.2rem;
    line-height: 1.4;

    & h3 {
      font-size: 2rem;
      margin-bottom: 3rem;
    }
  }
}

&-contact {
  text-align: center;
}
}
